.App {
  text-align: center;
  font-size: 20px;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.main{
 
  display:flex;
  justify-content: space-between;
  flex-flow: wrap;
  max-width: 100%; 
  padding: 12px;
  margin: 12px;
  padding-bottom: 20px;
  background-color: #bcbcd05b;
  border-radius: 14px  14px;
  border: 1px solid #5e5d5d1d;
  
}
.card{
  width: 30%;

  background-color: grey;
  opacity: 0.8;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .card{
    width: 40%;
  }
}